.container{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    padding: 15px;
}
.navbar{
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.content-section{
    background-color:blueviolet;
    display: flex;
    flex-direction: row;
    padding: 7px;
}
.sidebar{
    padding: 15px;
    background-color: bisque;
    margin-right: 5px;
    flex-basis: 240px;
    text-align: center;

}
.main-content{
    padding: 15px;
    background-color:brown;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.content-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

}
.row11{
    background-color: gray;
    padding: 70px;
    min-width: 10px;

}
.row12{
    background-color: red;
    padding: 70px;
    min-width: 10px;

}
.row13{
    background-color: blue;
    padding: 70px;
    min-width: 10px;

}
.content-row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;

}
.row21{
    padding: 50px;
    background-color: yellow;
    min-width: 10%;
    

}
.row22{
    padding: 50px;
    background-color: peru;
    min-width: 10%;
    

}
.row23{
    padding: 50px;
    background-color: pink;
    min-width: 10%;
    

}
.row24{
    padding: 50px;
    background-color: powderblue;
    min-width: 10%;
    

}

.content-row3{
    background-color: green;

}