.grid-container{
    display: grid;
    background-color: bisque;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    padding: 10px;
    
}
.grid-item{
    background-color: grey;
    text-align: center;
    padding: 20px;

}
.grid-item{
    background-color: grey;
    text-align: center;
    padding: 20px;

}
#item1{
    grid-column: 1/7;
}
#item2{
    grid-row: 2/4;
}
#item3{
    grid-column: 2/5;
}
#item4{
    grid-column: 5/7;
}
#item5{
    grid-column: 2/7;
}

