body{
    background-color: rgba(0, 128, 0, 0.169);
}
#nav-country-name{
    color: red;
    font-size: 2em;
}
#corousel-section{
    max-height: 90vh;
}
p{
    text-align: justify;
    font-family: sans-serif;
    font-size: 1.3em;
}
h2{
    color: rgba(23, 128, 0, 0.929);
}
.page-sections{
    margin: 20px;
}
@media screen and (max-width: 601px) {
    .page-sections{
        margin: 5px;
    }
}